.cart__title {
    padding: 20px;
    color: gray;
}
.cart {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.cart__totals {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cart__totalsInfo {
    padding: 10px;
    border: 1px solid gray;
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cart__totals button {
    background-color: #F85555;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
}